name: Build Docker Image

on:
  workflow_dispatch:
    inputs:
      image_name:
        description: "Docker image name"
        default: "easyconnect"
      image_tag:
        description: "Docker image tag"
        default: "7.6.7"

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ${{ github.event.inputs.image_name }}
      IMAGE_TAG: ${{ github.event.inputs.image_tag }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Show current directory
        run: |
          pwd
          ls -la .

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.IMAGE_NAME }}/image
          push: true
          tags: ghcr.io/${{ github.actor }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
